<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047655151970-ufr9gdub42k81iu49jfloi0nkoql6di8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047655151970-ufr9gdub42k81iu49jfloi0nkoql6di8</string>
	<key>API_KEY</key>
	<string>AIzaSyAI8OlXQDZokh14ra6Sho2ecYT38cfgjUo</string>
	<key>GCM_SENDER_ID</key>
	<string>1047655151970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aaaaa</string>
	<key>PROJECT_ID</key>
	<string>sear-37cf9</string>
	<key>STORAGE_BUCKET</key>
	<string>sear-37cf9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047655151970:ios:f70cb89190c6cd3798943b</string>
</dict>
</plist>